.responsive-icon {
  font-size: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 320px) and (max-width: 425px) {
  .responsive-icon {
    font-size: 10rem;
    padding-inline: 0;
    margin-right: 1rem;
    margin-left: 0.5rem;
  }
}
